* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url(https://cdn.pixabay.com/photo/2025/12/08/11/26/poker-10001911_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: "Archivo", sans-serif;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14rem;
}

.image-itself {
  height: 200px;
  margin: 1rem 0;
}

.dice-container {
  display: flex;
  column-gap: 6rem;
  margin-bottom: 2rem;
}

button {
  margin-top: 2rem;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: #2cff19;
  color: #0c2e05;
  cursor: pointer;
}
